<p>Add a new friendly giant!</p>

<form action="/robots" method="post" role="form">
  <input type="text" name="robot[avatar]" value="Picture"><br>
  <input type="text" name="robot[name]" value="Name"><br>
  <input type="text" name="robot[city]" value="City"><br>
  <input type="text" name="robot[state]" value="State"><br>
  <input type="text" name="robot[birthdate]" value="Birthdate"><br>
  <input type="text" name="robot[date_hired]" value="Date Hired"><br>
  <input type="text" name="robot[department]" value="Department"><br>
  <input type="submit" name="submit" value="Submit">
</form>
