<p>Add a new friendly giant!</p>

<form action="/robots" method="post" role="form">
  <input type="text" name="robot[avatar]" placeholder="Avatar"><br>
  <input type="text" name="robot[name]" placeholder="Name"><br>
  <input type="text" name="robot[city]" placeholder="City"><br>
  <input type="text" name="robot[state]" placeholder="State (AA)"><br>
  <input type="text" name="robot[birthdate]" placeholder="Birthdate (mm/dd/yyyy)"><br>
  <input type="text" name="robot[date_hired]" placeholder="Date Hired (mm/dd/yyyy)"><br>
  <input type="text" name="robot[department]" placeholder="Department (mm/dd/yyyy)"><br>
  <input type="submit" name="submit" value="Submit" class="btn btn-primary">
</form>
