<h1>Robots in this World</h1>

<p>
  Robot Stats
</p>

<%= average_age %>
<%= message %>


<!-- stats average robot age, a breakdown of how many robots were hired each year, and number of robots in each department/city/state.-->
